{
  "prepare": {
    "webuntisDump": "filename to read from, instead of using api",
    "webuntis": "..api-key..",
    "mssqlDump": "filename to read from, instead of using api",
    "mssql": {
      "server": "...",
      "database": "...",
      "user": "...",
      "password": "..."
    },
    "icalUrl": "http://www.google.com/calendar/ical/solsort.dk_74uhjebvm79isucb9j9n4eba6o%40group.calendar.google.com/public/basic.ics",
    "dest": {
      "dump": "out.json",
      "protocol": "http",
      "host": "10.251.26.11",
      "path": "/uccorg-update",
      "port": 8080
    },
    "startDate": "either number of days relative to now, or a fixed ISO date/time",
    "timespan": "number of days"
  },
  "apiserver": {
    "port": 8080,
    "cachefile": "data.json"
  },
  "test": {
    "outfile": "test.out",
    "startDate": "2013-09-20T06:20:00",
    "endDate": "2013-09-20T18:20:00",
    "restTestTime": "2013-09-20T09:20:00",
    "xTime": 3000
  }
}
